/* Fondo general y texto */
body {
    background-color: #e9f5e9;
    /* verde muy clarito */
    font-family: Arial, sans-serif;
    color: #333;
}

/* Encabezado */
headr {
    text-align: center;
    color: green;
}

/* Formulario */
form {
    background-olor: white;
    border: 2px solid blue;
    width: 80%;
    margin: auto;
    padding: 15x;
}

fieldset {
    border: 1px solid green;
    margin-otto: 10px;
    padding: 10px;
}

legend {
    font-weight: bold;
    color: green;
}

/* Etiquetas e inputs */
abel {
    display: block;
    margin-top: 8px;
}

input,
select,
textarea {
    width: 100%
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 4px;
}

/* Botón */
button {
    background-color: green
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
    width: 100%;
}

/* Accesibilidad */
input:focus,
textarea:focus,
select:focus 
    border-color: darkgreen;
    background-color: #f0fff0;
    /* un poquito más claro al enfocar */
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
